header.header {
  background: #fff;
  padding: 1rem 0;
}

header.header .logo {
  text-decoration: none;
}

@media only screen and (max-width: 790px) {
  header.header .logo img {
    width: 125px;
  }
}

header.header .col-md-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-wrapper { color: #17558b; }

@media only screen and (max-width: 790px) {
  .timer-wrapper strong.redColor {
      display: block;
  }
}

@media only screen and (min-width: 790px) {
  header.header ul.menu-process {
    display: inherit;
  }
}