footer {
  background: #105088;
  padding: 1rem 0;
}
footer * {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #fff; 
  opacity: 0.7;
}

@media only screen and (max-width: 790px) {
  footer * {
    text-align: center !important;
  }
}

