body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #434343;
  line-height: 1.5;
  background: #f5f1f1;
  font-size: 14px;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap-price-details {
  background: #f7f7f7;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.wrap-price-details h3 {
  color: #105088;
  font-size: 16px;
}

.wrap-price-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrap-price-details ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.wrap-price-details ul li label {
  font-weight: 500;
}

.wrap-price-details ul li:last-child {
  border-top: 1px solid;
  padding-top: 5px;
}

.promo-code-modal img {
  max-width: 100%;
  margin-top: 1.5rem;
}